.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  color: white;
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #7f8c8d;
}

.logo {
  padding: 12px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.nav-link {
  color: white;
  padding: 12px;
  font-size: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: red;
}

.content {
  flex: 1;
}
